//META{"name":"Johnny's Compact Theme","description":"A theme that compresses most elements in vanilla Discord. To be used as an alternative to Discord's vanilla compact mode, while using the dark mode!","author":"Johnny Cocks","version":"2.18"}*//

.body {
}

  /*************************/
 /*	DIMMER SWITCH         */
/*************************/

	.theme-dark,
	.theme-light {
		/* Colour variables */
		--jct-white: #fff;
		--jct-light-gray: #dcddde;

		--jct-primary: hsl(220,8%,19%);
		--jct-secondary: hsl(223,7%,16%);
		--jct-tertiary: hsl(216,7%,12%);

		/* Apply theme colours */
		--header-primary: var(--jct-white);
		--header-secondary: #b9bbbe;
		--text-normal: var(--jct-light-gray);
		/*--text-muted: #72767d;*/
		--text-muted: hsl(218,5%,42%);
		--text-link: #00b0f4;
		--channels-default: #8e9297;
		--interactive-normal: #b9bbbe;
		--interactive-hover: var(--jct-light-gray);
		--interactive-active: var(--jct-white);
		--interactive-muted: #4f545c;
		/*--background-primary: #36393f;*/
		--background-primary: var(--jct-primary);
		/*--background-secondary: #2f3136;*/
		--background-secondary: var(--jct-secondary);
		/*--background-tertiary: #202225;*/
		--background-tertiary: var(--jct-tertiary);
		--background-accent: #4f545c;
		--background-floating: #18191c;
		/*--modal-background: #36393f;*/
		--modal-background: var(--jct-primary);
		--modal-footer-background: var(--jct-primary);
		/*--background-mobile-primary: #36393f;*/
		--background-mobile-primary: var(--jct-primary);
		/*--background-mobile-secondary: #2f3136;*/
		--background-mobile-secondary: hsl(223,7%,18%);
		--background-modifier-hover: rgba(79,84,92,0.16);
		--background-modifier-active: rgba(79,84,92,0.24);
		--background-modifier-selected: rgba(79,84,92,0.32);
		--background-modifier-accent: hsla(0,0%,100%,0.06);
		--elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
		--elevation-high: 0 8px 16px rgba(0,0,0,0.24);
		--logo-primary: var(--jct-white);
		--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
		--channeltextarea-background: #40444b;
		/*--activity-card-background: #202225;*/
		--activity-card-background: hsl(216,7%,13%);
		--textbox-markdown-syntax: #8e9297;
		--deprecated-panel-background: #292b2f;
		--deprecated-card-bg: rgba(32,34,37,0.6);
		--deprecated-card-editable-bg: rgba(32,34,37,0.3);
		--deprecated-store-bg: #36393f;
		--deprecated-quickswitcher-input-background: #72767d;
		--deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
		--deprecated-text-input-bg: rgba(0,0,0,0.1);
		--deprecated-text-input-border: rgba(0,0,0,0.3);
		--deprecated-text-input-border-hover: #040405;
		--deprecated-text-input-border-disabled: #202225;
		--deprecated-text-input-prefix: var(--jct-light-gray);
		
		/* Custom */
		/*--discord-blue: #7289da;*/
		--discord-blue: hsl(227,58%,59%);


		/* Control variables */
		--header-height: 40px;

		--server-icon-wrapper: 50px;
		--server-icon: 35px;

		--channel-width: 200px;
		
		--call-portrait-size: 60px;
		--call-button-size: 40px;
	}


  /*************************/
 /*	TITLE BAR	          */
/*************************/

	/* Channel name and action buttons container */
	/* title-3qD0b- da-title container-1r6BKw da-container */
	section[class*="title-"],
	section[class*="title_"] {
		height: var(--header-height);
		
	}
	/* Channel name and action buttons container (remove little bulge that was not affected by previous line) */
	section[class*="title-"] > [class*="children-"]::after,
	section[class*="title_"] > [class*="children_"]::after {
		height: var(--header-height);
		
	}
	
	/* Title bar icon wrapper */
	/* iconWrapper-2OrFZ1 da-iconWrapper clickable-3rdHwn da-clickable */
	section[class*="title-"] div[class*="iconWrapper-"],
	section[class*="title_"] div[class*="iconWrapper_"] {
		margin: 0 5px;
		height: 20px;
	}
	
	/* Title bar icons */
	/* icon-22AiRD da-icon */
	section[class*="title-"] div[class*="iconWrapper-"] [class*="icon-"],
	section[class*="title_"] div[class*="iconWrapper_"] [class*="icon_"] {
		height: 20px;
		width: 20px;
	}


  /*************************/
 /*	SERVER LIST	          */
/*************************/

	/* Server bar root */
	/* wrapper-1Rf91z da-wrapper */
	nav[class*="wrapper-"][class*="guilds-"],
	nav[class*="wrapper_"][class*="guilds_"] {
		width: var(--server-icon-wrapper);
	}
	
	/* "Server" message notification (groups and friends messages notifications) */
	/* style="opacity: 1; height: 56px; transform: scale(1);" (no classes) */
	/* extremely fucking volatile solution, thanks Discord devs for not giving me a better alternative */
	nav[class*="wrapper-"][class*="guilds-"] div:not([class])[style],
	nav[class*="wrapper_"][class*="guilds_"] div:not([class])[style] {
		height: unset !important;
	}
	
	/* Server list item */
	/* listItem-2P_4kh da-listItem bd-guild bd-unread */
	nav[class*="wrapper-"][class*="guilds-"] [class*="listItem-"],
	nav[class*="wrapper_"][class*="guilds_"] [class*="listItem_"] {
		width: var(--server-icon-wrapper);
	}
	
	/* Server list folder & server item */
	/* wrapper-21YSNc da-wrapper */
	nav[class*="wrapper-"][class*="guilds-"] [class*="listItem-"] > [class*="listItemWrapper-"] > [class*="wrapper-"],
	nav[class*="wrapper-"][class*="guilds-"] [class*="listItem-"] [data-dnd-name] > [class*="wrapper-"],
	nav[class*="wrapper_"][class*="guilds_"] [class*="listItem_"] > [class*="listItemWrapper_"] > [class*="wrapper_"],
	nav[class*="wrapper_"][class*="guilds_"] [class*="listItem_"] [data-dnd-name] > [class*="wrapper_"] {
		height: var(--server-icon);
		width: var(--server-icon);
	}
	
	/* Pull the rest of the screen slightly to the left */
	/* base-3dtUhz da-base */
	/* Commented for now, Discord's devs actually fixed something and this is no longer needed */
	/*div[class*="base-"] {
		left: var(--server-icon-wrapper);
	}*/
	
	/* Server folder list container */
	/* expandedGuilds-1JMD4M da-expandedGuilds */
	/* changed to a classless ul?: .wrapper-21YSNc.da-wrapper ul */
	nav[class*="wrapper-"][class*="guilds-"] [class*="wrapper-"] ul,
	nav[class*="wrapper_"][class*="guilds_"] [class*="wrapper_"] ul {
		height: fit-content !important;
		padding: 5px 0;
	}
	
	/* Server folder list background */
	/* expandedFolderBackground-2sPsd- da-expandedFolderBackground */
	nav[class*="wrapper-"][class*="guilds-"] [class*="wrapper-"] span[class*="expandedFolderBackground-"],
	nav[class*="wrapper_"][class*="guilds_"] [class*="wrapper_"] span[class*="expandedFolderBackground_"] {
		left: 6px !important;
		width: 40px !important;
	}
	
	/* Server folder closed */
	/* closedFolderIconWrapper-15K9MK da-closedFolderIconWrapper */
	[class*="closedFolderIconWrapper-"],
	[class*="closedFolderIconWrapper_"] {
		background-color: var(--background-secondary);
	}
	
	/* Server "read" icon wrapper */
	/* pill-31IEus da-pill wrapper-sa6paO da-wrapper bd-unread */
	[class*="pill-"][class*="wrapper-"],
	[class*="pill_"][class*="wrapper_"] {
		height: var(--server-icon);
	}
	
	/* Server "read" icon */
	/* item-2hkk8m da-item */
	[class*="pill-"] [class*="item-"],
	[class*="pill_"] [class*="item_"] {
		max-height: var(--server-icon) !important;
	}
	
	/* Server icon */
	/* svg-1X37T1 da-svg */
	nav[class*="wrapper-"][class*="guilds-"] [class*="listItem-"] [class*="wrapper-"] svg[class*="svg-"],
	nav[class*="wrapper_"][class*="guilds_"] [class*="listItem_"] [class*="wrapper_"] svg[class*="svg_"] {
		height: var(--server-icon);
		width: var(--server-icon);
	}

	/* "Discovery" server icons */
	/* circleIconButton-jET_ig da-circleIconButton */
	[class*="circleIconButton-"],
	[class*="circleIconButton_"] {
		color: var(--discord-blue) !important;
	}

	/* "Discovery" server icons, while selected */
	/* circleIconButton-jET_ig da-circleIconButton da-selected */
	[class*="circleIconButton-"][class*="selected-"],
	[class*="circleIconButton_"][class*="selected_"] {
		color: var(--jct-white) !important;
		background-color: var(--discord-blue) !important;
	}

	/* Server call tooltip */
	/* tooltip-14MtrL tooltipRight-2TSb42 tooltipPrimary-3qLMbS tooltipDisablePointerEvents-1huO19 listItemTooltip-eHcnUw */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="tooltip-"],
	[class*="layerContainer_"] > [class*="layer_"] > [class*="tooltip_"] {
	}

	/* Server call tooltip content */
	/* tooltipContent-Nejnvh */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="tooltip-"] > [class*="tooltipContent-"],
	[class*="layerContainer_"] > [class*="layer_"] > [class*="tooltip_"] > [class*="tooltipContent_"] {
		padding: 8px;
	}

	/* Server call tooltip content row */
	/* row-x_t5Ya */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="tooltip-"] > [class*="tooltipContent-"] > [class*="row-"]:not([class*="rowGuildName-"]),
	[class*="layerContainer_"] > [class*="layer_"] > [class*="tooltip_"] > [class*="tooltipContent_"] > [class*="row_"]:not([class*="rowGuildName_"]) {
		margin-top: 5px;
	}

	/* Server call tooltip avatars mask */
	/* avatarContainerMasked-13fYnN */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="tooltip-"] > [class*="tooltipContent-"] > [class*="row-"]:not([class*="rowGuildName-"]) [class*="avatarContainerMasked-"],
	[class*="layerContainer_"] > [class*="layer_"] > [class*="tooltip_"] > [class*="tooltipContent_"] > [class*="row_"]:not([class*="rowGuildName_"]) [class*="avatarContainerMasked_"] {
		margin-right: 1px;
	}
	[class*="layerContainer-"] > [class*="layer-"] > [class*="tooltip-"] > [class*="tooltipContent-"] > [class*="row-"]:not([class*="rowGuildName-"]) [class*="avatarContainerMasked-"] foreignObject,
	[class*="layerContainer_"] > [class*="layer_"] > [class*="tooltip_"] > [class*="tooltipContent_"] > [class*="row_"]:not([class*="rowGuildName_"]) [class*="avatarContainerMasked_"] foreignObject {
		mask: none;
	}


  /*************************/
 /*	CHANNEL LIST	      */
/*************************/

	/* Server Header container */
	/* container-1taM1r da-container clickable-25tGDB da-clickable hasBanner-2SrLR3 da-hasBanner bannerVisible-2ZE_qG da-bannerVisible */
	[class*="base-"] [class*="sidebar-"] [class*="container-"][class*="hasBanner-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"][class*="hasBanner_"] {
		margin-bottom: 75px;
	}

	/* Server header on top of the channel list */
	/* header-2V-4Sw da-header */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="header-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="header_"] {
		height: var(--header-height);
		padding: 8px;
	}
	
	/* Channel list container */
	/* sidebar-2K8pFh da-sidebar */
	[class*="base-"] [class*="sidebar-"],
	[class*="base_"] [class*="sidebar_"] {
		width: var(--channel-width);
		border-radius: 0;
	}

	/* Server banner image container */
	/* animatedContainer-1NSq4T da-animatedContainer */
	[class*="base-"] [class*="sidebar-"] [class*="container-"][class*="hasBanner-"] [class*="animatedContainer-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"][class*="hasBanner_"] [class*="animatedContainer_"] {
		height: 112px;
	}

	/* Server banner image */
	/* bannerImage-3KhIJ6 da-bannerImage */
	[class*="base-"] [class*="sidebar-"] [class*="container-"][class*="hasBanner-"] [class*="animatedContainer-"] [class*="bannerImage-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"][class*="hasBanner_"] [class*="animatedContainer_"] [class*="bannerImage_"] {
		width: var(--channel-width);
		height: 112px;
	}

	/* "Server notice" section */
	/* channelNotice-7cg_jN */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="channelNotice-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="channelNotice_"] {
		padding: 8px;
	}

	/* "Server notice" section close button */
	/* close-R97Oc7 */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="channelNotice-"] > [class*="close-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="channelNotice_"] > [class*="close_"] {
		top: 8px;
		right: 8px;
	}

	/* "Server notice" section message */
	/* message-2yKOgd */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="channelNotice-"] > [class*="message-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="channelNotice_"] > [class*="message_"] {
		margin-top: 8px;
	}

	/* "Server notice" section message button */
	/* btn-1ZaXaH button-f2h6uQ lookFilled-yCfaCM colorBrand-I6CyqQ sizeSmall-wU2dO- fullWidth-fJIsjq grow-2sR_-F */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="channelNotice-"] > [class*="message-"] > [class*="button-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="channelNotice_"] > [class*="message_"] > [class*="button_"] {
		margin-top: 8px;
	}
	
	/* Channel list container */
	/* scroller-RmtA4e da-scroller thin-1ybCId scrollerBase-289Jih fade-2kXiP2 */
	.scroller-RmtA4e.da-scroller {
		
	}
	
	/* Channel list container content */
	/* content-3YMskv da-content */
	.content-3YMskv.da-content {
		
	}
	
	/* Channel list item container */
	/* containerDefault--pIXnN da-containerDefault */
	.containerDefault--pIXnN.da-containerDefault {
		
	}
	
	/* This is some guetto way of fixing the spacing issues under the server banner image... */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > div:not([class]):not([aria-hidden]),
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > div:not([class]):not([aria-hidden]) {
		max-height: 0 !important;
	}
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > div[aria-hidden],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > div[aria-hidden] {
		margin-top: -84px;
		min-height: 84px;
	}
	
	/* Channel list boosts container (hopefuly) */
	/* container-2giAcK */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="container-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="container_"] {
		margin-top: 0;
	}
	
	/* Channel list item */
	/* iconVisibility-sTNpHs da-iconVisibility wrapper-2jXpOf da-wrapper modeUnread-1qO3K1 */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] {
		height: 30px;
	}
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"] [class*="typeDefault-"][class*="iconVisibility-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] [class*="typeDefault_"][class*="iconVisibility_"] {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	/* Unread channel thing */
	/* unread-2lAfLh da-unread */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"] [class*="iconVisibility-"] [class*="unread-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] [class*="iconVisibility_"] [class*="unread_"] {
		transform: translate(0, -50%);
		margin: 0;
	}
	
	/* Voice channel user */
	/* list-2luk8a da-list list-SuzGBZ da-list listDefault-3ir5aS da-listDefault */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"] [class*="list-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] [class*="list_"] {
		padding-left: 25px;
		padding-bottom: 0px;
	}
	
	/* Channel list group container */
	/* containerDefault-3tr_sE da-containerDefault */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] {
		padding-top: 0;
	}
	
	/* Channel list group title content */
	/* mainContent-uDGa6R */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"] [class*="iconVisibility-"] [class*="mainContent-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] [class*="iconVisibility_"] [class*="mainContent_"] {
		/**/
	}
	
	/* Channel list group title content arrow */
	/* arrow-2HswgU icon-3zI3d2 */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"] [class*="iconVisibility-"] [class*="mainContent-"] [class*="arrow-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] [class*="iconVisibility_"] [class*="mainContent_"] [class*="arrow_"] {
		top: 11px;
	}
	
	/* Channel list item content */
	/* content-1x5b-n da-content */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"] [class*="iconVisibility-"] [class*="link-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] [class*="iconVisibility_"] [class*="link_"] {
		margin: 0;
		padding: 0 5px;
	}
	
	/* Channel name */
	/* name-23GUGE da-name */
	[class*="base-"] [class*="sidebar-"] [class*="container-"] [class*="scroller-"] [class*="content-"] > [class*="containerDefault-"] [class*="iconVisibility-"] [class*="link-"] [class*="name-"],
	[class*="base_"] [class*="sidebar_"] [class*="container_"] [class*="scroller_"] [class*="content_"] > [class*="containerDefault_"] [class*="iconVisibility_"] [class*="link_"] [class*="name_"] {
		font-size: 14px;
		line-height: 20px;
	}


  /*************************/
 /*	CHAT AREA             */
/*************************/

	/* "Scroller" */
	/* scroller-2LSbBU da-scroller auto-Ge5KZx scrollerBase-289Jih disableScrollAnchor-3V9UtP */
	[class*="chat-"] [class*="scroller-"],
	[class*="chat_"] [class*="scroller_"] {
		overflow: hidden auto !important;
	}

	/* Message box container */
	/* Note: Think this was removed from Discord */
	/* containerCozyBounded-1rKFAn containerCozy-jafyvG container-1YxwTf da-containerCozyBounded da-containerCozy da-container */
	.containerCozy-jafyvG.container-1YxwTf.da-container {
		padding: 0 0 5px 0;
	}

	/***** New messages bar *****/
	/* newMessagesBar-mujexs da-newMessagesBar */
	[class*="newMessagesBar-"],
	[class*="newMessagesBar_"] {
		left: 5px;
		right: 15px;
	}
	/* Note: Think this was removed from Discord */
	/* hasMore-3e72_v da-hasMore */
	.hasMore-3e72_v.da-hasMore {
		margin-top: 5px;
	}
	.da-hasMore button {
		margin: 5px;
	}

	/* New messages divider */
	/* divider-3_HH5L da-divider beforeGroup-1rH1F0 da-beforeGroup divider-JfaTT5 da-divider isUnread-3Ef-o9 da-isUnread */
	[class*="divider-"],
	[class*="divider_"] {
		margin: 10px !important;
		top: 0 !important;
	}
	
	/***** "You're viewing older messages" bar *****/
	/* jumpToPresentBar-G1R9s6 barBase-1c2Rfb da-jumpToPresentBar da-barBase */
	[class*="jumpToPresentBar-"],
	[class*="jumpToPresentBar_"] {
		padding-bottom: 0;
		left: 5px;
		right: 15px;
	}
	
	/***** "You're viewing older messages" bar *****/
	/* messagesErrorBar-1IQ1rH barBase-3xxDXu */
	[class*="messagesErrorBar-"],
	[class*="messagesErrorBar_"] {
		padding-bottom: 0;
		left: 5px;
		right: 15px;
	}

	/***** Message line *****/
	/* message-2qnXI6 da-message cozyMessage-3V1Y8y da-cozyMessage groupStart-23k01U da-groupStart wrapper-2a6GCs da-wrapper cozy-3raOZG da-cozy zalgo-jN1Ica da-zalgo */
	[class*="messageListItem-"] > [class*="message-"],
	[class*="messageListItem_"] > [class*="message_"] {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 50px;
		padding-right: 5px !important;
	}
	
	/* First message in a group */
	/**/
	[class*="messageListItem-"] > [class*="message-"][class*="groupStart-"],  /* Targetting specifically the first message, the old fix does no longer apply */
	[class*="messageListItem_"] > [class*="message_"][class*="groupStart_"] { /* Targetting specifically the first message, the old fix does no longer apply */
		margin-top: 0 !important;
	}

	/* Message header */
	/* headerCozy-2N9HOL da-headerCozy */
	[class*="messageListItem-"] > [class*="message-"] [class*="header-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="header_"] {
		/**/
	}

	/* Message header icon container */
	/* avatar-1BDn8e da-avatar clickable-1bVtEA da-clickable */
	[class*="messageListItem-"] > [class*="message-"] [class*="avatar-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="avatar_"] {
		left: 10px;
		top: 5px;
		border-radius: 5px;
		height: 30px !important;
		width: 30px !important;
	}
	
	/* Message timestamp */
	/* timestampCozy-2hLAPV da-timestampCozy complete-timestamp */
	[class*="messageListItem-"] > [class*="message-"] [class*="header-"] [class*="timestamp-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="header_"] [class*="timestamp_"] {
		font-size: 10px !important;
		line-height: 15px !important;
	}
	
	/* Message timestamp (the one to the left of a message in a message block) */
	/* latin12CompactTimeStamp-38a8OU timestamp-3ZCmNB da-timestamp timestampVisibleOnHover-2bQeI4 da-timestampVisibleOnHover alt-1uNpEt da-alt */
	[class*="messageListItem-"] > [class*="message-"] [class*="timestampVisibleOnHover-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="timestampVisibleOnHover_"] {
		width: 50px !important;
		font-size: 10px !important;
		line-height: 15px !important;
		margin: 0 !important;
		text-align: center !important;
	}

	/***** Message content wrapper *****/
	/* Message content */
	[class*="messageListItem-"] > [class*="message-"] [class*="messageContent-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="messageContent_"] {
		font-size: 14px;
		line-height: 20px;
	}

	/* Message quote content */
	/* markup-2BOw-j da-markup > blockquote */
	[class*="messageListItem-"] > [class*="message-"] blockquote,
	[class*="messageListItem_"] > [class*="message_"] blockquote {
		margin: 0;
		padding: 0 5px;
		max-width: unset;
	}
	
	/* New message quote thing */
	/* repliedMessage-VokQwo da-repliedMessage */
	[class*="messageListItem-"] > [class*="message-"] [class*="repliedMessage-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="repliedMessage_"] {
		background-color: var(--background-secondary);
		padding: 1px;
		margin-bottom: 0px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	[class*="messageListItem-"] > [class*="message-"] [class*="repliedMessage-"]:before,
	[class*="messageListItem_"] > [class*="message_"] [class*="repliedMessage_"]:before {
		top: 1px;
		left: -2px;
		height: 100%;
		border-radius: 0;
	}

	/* Message code content */
	/* markup-2BOw-j da-markup > pre */
	[class*="messageListItem-"] > [class*="message-"] pre,
	[class*="messageListItem_"] > [class*="message_"] pre {
		max-width: fit-content;
		white-space: pre-line;
	}

	/* Message code "code" element */
	/* .markup-2BOw-j code */
	[class*="messageListItem-"] > [class*="message-"] code,
	[class*="messageListItem_"] > [class*="message_"] code {
		background: var(--background-tertiary);
		word-break: break-word !important;
	}

	/* Message code "code" footer */
	[class*="messageListItem-"] > [class*="message-"] [class*="footer-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="footer_"] {
		background: var(--background-tertiary);
	}
	
	/* Message image attachment */
	/* anchor-3Z-8Bb da-anchor anchorUnderlineOnHover-2ESHQB da-anchorUnderlineOnHover imageWrapper-2p5ogY da-imageWrapper imageZoom-1n-ADA da-imageZoom clickable-3Ya1ho da-clickable embedWrapper-3AbfJJ da-embedWrapper */
	[class*="messageListItem-"] > [class*="message-"] [class*="imageZoom-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="imageZoom_"] {
		margin: 5px 0 !important;
	}
	/* Image attachment "hidden" margin */
	/* containerCozy-B4noqO container-1e22Ot da-containerCozy da-container */
	[class*="messageListItem-"] > [class*="message-"] [class*="container-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="container_"] {
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 2px;
	}
	/* Message attachment file */
	/* Note: TODO: Don't remember what this does, I can't seem to find an element that would match this */
	[class*="messageListItem-"] > [class*="message-"] > [id*="message-accessories-"] > [class*="messageAttachment-"],
	[class*="messageListItem_"] > [class*="message_"] > [id*="message-accessories-"] > [class*="messageAttachment_"] {
		width: 100%;
	}
	/* Message attachment file */
	/* .wrapperAudio-1Bzv_Z.wrapper-1FP9YQ.embedWrapper-1MtIDg.attachmentContentItem-UKeiCx */
	/* Message attachment file */
	/* Note: TODO: Don't remember what this does, I can't seem to find an element that would match this */
	[class*="messageListItem-"] > [class*="message-"] > [id*="message-accessories-"] > [class*="messageAttachment-"] > [class*="wrapperAudio-"],
	[class*="messageListItem_"] > [class*="message_"] > [id*="message-accessories-"] > [class*="messageAttachment_"] > [class*="wrapperAudio_"] {
		max-width: 400px;
	}
	
	/* New message thread thingy */
	/* repliedMessage-VokQwo da-repliedMessage */
	[class*="messageListItem-"] > [class*="message-"][class*="hasThread-"] > [class*="container-"] [class*="container-"],
	[class*="messageListItem_"] > [class*="message_"][class*="hasThread_"] > [class*="container_"] [class*="container_"] {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: 2px solid var(--interactive-muted);
	}
	[class*="messageListItem-"] > [class*="message-"][class*="hasThread-"]:after,
	[class*="messageListItem_"] > [class*="message_"][class*="hasThread_"]:after {
		border: none;
	}
	
	/* Sound attachment volume control */
	/* Note: No longer cut, issue should not exist anymore */
	/* audioVolumeWrapper-2t9juP da-audioVolumeWrapper */
	/*.audioVolumeWrapper-2t9juP.da-audioVolumeWrapper {
		transform: translate(50px,-15px);
	}*/
	/* videoVolumeWrapper-3syuC- da-videoVolumeWrapper */
	/*.videoVolumeWrapper-3syuC-.da-videoVolumeWrapper {
		transform: translate(35px,-60px);
	}*/
	/* vertical-1gJnJQ da-vertical */
	/*.vertical-1gJnJQ.da-vertical {*/
		/*-webkit-transform: unset;
		transform: unset;*/
	/*}*/
	
	/* File Upload button */
	/* Note: I don't remember what the fuck this is */
	/* .lookFilled-1Gx00P.colorBrand-3pXr91 */
	.lookFilled-1Gx00P.colorBrand-3pXr91 {
		background-color: var(--discord-blue) !important;
	}
	
	/* Reactions container */
	/* Note: Fixed by Discrap devs (?) */
	/* Note: Seems like this is no longer needed, but keeping this because you never know... */
	/* reactions-1xb2Ex da-reactions */
	[class*="messageListItem-"] > [class*="message-"] [class*="reactions-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="reactions_"] {
		margin-top: 0;
	}
	
	/* Message action buttons */
	/* Note: I don't remember what the fuck this is */
	/* buttonContainer-37UsAw da-buttonContainer */
	.buttonContainer-37UsAw.da-buttonContainer div {
		width: 15px;
		height: 15px;
		margin: 1px 1px 0;
	}
	
	/* Message mentioned orangey thingy */
	/* isMentionedCozy-3isp7y isMentioned-N-h9aa containerCozy-336-Cz container-206Blv da-isMentionedCozy da-isMentioned da-containerCozy da-container */
	[class*="messageListItem-"] > [class*="message-"][class*="mentioned-"]:before,
	[class*="messageListItem_"] > [class*="message_"][class*="mentioned_"]:before {
		left: -2px;
		border-left: 3px solid var(--info-warning-foreground);
	}
	
	/***** Pinned Message Thingy *****/
	/* Pinned message icon container */
	/* .iconContainer-3GkGRf.da-iconContainer */
	[class*="messageListItem-"] > [class*="message-"] [class*="messageContent-"] [class*="iconContainer-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="messageContent_"] [class*="iconContainer_"] {
		width: 24px;
		padding-top: 2px;
	}

	/***** Message input *****/
	/* .chat-3bRxxu form */
	[class*="chat-"] form,
	[class*="chat_"] form {
		margin: 0 10px;
		padding: 0;
	}
	
	/* Message input */
	/* channelTextArea-rNsIhG da-channelTextArea channelTextArea-2VhZ6z da-channelTextArea */
	[class*="chat-"] form [class*="channelTextArea-"],
	[class*="chat_"] form [class*="channelTextArea_"] {
		margin-bottom: 20px;
		margin-top: 10px;
	}

	/* Message input "gift button" */
	[class*="chat-"] form [class*="channelTextArea-"] [class*="buttons-"] > button,
	[class*="chat_"] form [class*="channelTextArea_"] [class*="buttons_"] > button {
		display: none;
	}

	/* Message input "app launcher" */
	[class*="chat-"] form [class*="channelAppLauncher-"],
	[class*="chat_"] form [class*="channelAppLauncher_"] {
		display: none;
	}

	/* Editing a message */
	[class*="messageListItem-"] > [class*="message-"] [class*="channelTextArea-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="channelTextArea_"] {
		margin-top: 0;
		margin-bottom: 0;
	}
	[class*="messageListItem-"] > [class*="message-"] [class*="operations-"],
	[class*="messageListItem_"] > [class*="message_"] [class*="operations_"] {
		padding: 5px 0;
	}

	/* "Scroller spacer" bullshit at the end of the page; Why is this a thing though? */
	/* scrollerSpacer-1Rp0XE da-scrollerSpacer */
	/* changed to: scrollerSpacer-avRLaA da-scrollerSpacer */
	[class*="scrollerSpacer-"],
	[class*="scrollerSpacer_"] {
		display: none;
	}


  /*************************/
 /*	WELCOME MESSAGES      */
/*************************/

	/* Welcome messages boxes */
	/* welcomeMessage-3_Mcht da-welcomeMessage */
	.welcomeMessage-3_Mcht.da-welcomeMessage {
		flex-direction: row;
	}

	/* Remove useless title and "footer" */
	/* welcomeMessage-3_Mcht da-welcomeMessage > h1 */
	/* emptyMessage-2wGhmr da-emptyMessage base-34jWEe da-base */
	.welcomeMessage-3_Mcht.da-welcomeMessage h1,
	.welcomeMessage-3_Mcht.da-welcomeMessage .emptyMessage-2wGhmr.da-emptyMessage {
		display: none;
	}

	/* Welcome messages messages */
	/* welcomeMessage-3_Mcht da-welcomeMessage > p */
	.welcomeMessage-3_Mcht.da-welcomeMessage p {
		margin: 5px 10px 10px 10px;
		width: fit-content;
	}


  /*************************/
 /*	SERVER MEMBER LIST    */
/*************************/

	/* Member list wrapper */
	/* membersWrap-2h-GB4 da-membersWrap */
	[class*="membersWrap-"],
	[class*="membersWrap_"] {
		min-width: var(--channel-width);
	}

	/* Member list inner container */
	/* scroller-2FKFPG firefoxFixScrollFlex-cnI2ix da-scroller da-firefoxFixScrollFlex systemPad-3UxEGl da-systemPad members-1998pB da-members */
	[class*="membersWrap-"] > [class*="members-"],
	[class*="membersWrap_"] > [class*="members_"] {
		max-width: var(--channel-width);
	}

	/* Member group */
	/* membersGroup-v9BXpm da-membersGroup */
	[class*="membersWrap-"] > [class*="members-"] [class*="membersGroup-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="membersGroup_"] {
		padding: 10px 5px 5px;
		height: auto;
		line-height: 12px;
	}

	/* Member list item */
	/* memberOnline-1CIh-0 member-3W1lQa da-memberOnline da-member */
	/* changed to: member-3-YXUe da-member */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] {
		margin: 0;
		height: 30px;
	}

	/* Member list item inner layout shit */
	/* layout-2DM8Md da-layout */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] {
		margin: 0;
		height: 30px;
	}
	
	/* Member icon wrapper */
	/* avatarWrapper-3B0ndJ wrapper-3t9DeA da-avatarWrapper da-wrapper */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="avatar-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="avatar_"] {
		height: 20px !important;
		width: 20px !important;
		margin-right: 5px;
	}
	
	/* Member icon actual wrapper */
	/* avatarWrapper-3B0ndJ wrapper-3t9DeA da-avatarWrapper da-wrapper */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="avatar_"] > [class*="wrapper_"] {
		height: 20px !important;
		width: 20px !important;
	}
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] svg,
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="avatar_"] > [class*="wrapper_"] svg {
		height: 20px !important;
		width: 20px !important;
	}
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] svg[class*="avatarDecoration-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="avatar_"] > [class*="wrapper_"] svg[class*="avatarDecoration-"] {
		top: -5px;
		left: -2.5px;
		height: 30px !important;
		width: 30px !important;
	}
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] foreignObject,
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="avatar_"] > [class*="wrapper_"] foreignObject {
		mask: none;
		height: 40px !important;
		width: 40px !important;
	}
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] rect,
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="avatar_"] > [class*="wrapper_"] rect {
		x: 30;
		y: 30;
	}
	
	/* Member name container */
	/* content-3QAtGj da-content */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] {
		min-height: 14px;
	}
	
	/* Member name wrapper */
	/* nameTag-3p0yK- da-nameTag nameTag-m8r81H da-nameTag */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"] > [class*="nameAndDecorators-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] > [class*="nameAndDecorators_"] {
		line-height: 14px;
	}
	
	/* Member name */
	/* memberInner-2CPc3V da-memberInner */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"] > [class*="nameAndDecorators-"] > [class*="name-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] > [class*="nameAndDecorators_"] > [class*="name_"] {
		width: unset;
		overflow: hidden;
		font-size: 14px;
		line-height: 18px;
	}

	/* Member activity container */
	/* subText-1KtqkB da-subText */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"] > [class*="subText-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] > [class*="subText_"] {
		margin-top: 0px;
	}

	/* Member activity */
	/* activity-2Gy-9S da-activity */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"] > [class*="subText-"] > [class*="activity-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] > [class*="subText_"] > [class*="activity_"] {
		font-size: 10px;
		line-height: 14px;
		height: 10px;
	}
	
	/* Member activity emoji */
	/* emoji emoji-2cWBLE da-emoji activityEmoji-2GDGtF da-activityEmoji */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"] > [class*="subText-"] > [class*="activity-"] > [class*="activityEmoji-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] > [class*="subText_"] > [class*="activity_"] > [class*="activityEmoji_"] {
		width: 10px;
		height: 10px;
	}
	
	/* Member bot tag */
	/* botTagRegular-2HEhHi botTag-2WPJ74 da-botTagRegular da-botTag botTag-3W9SuW da-botTag */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"] > [class*="nameAndDecorators-"] > [class*="botTag-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] > [class*="nameAndDecorators_"] > [class*="botTag_"] {
		height: 10px;
		padding: 1px 4px;
		font-size: 10px;
		line-height: 10px;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	/* Friend activity annoying icon */
	/* icon-15YQ1T da-icon */
	[class*="membersWrap-"] > [class*="members-"] [class*="member-"] > [class*="layout-"] > [class*="content-"] > [class*="subText-"] > [class*="activity-"] [class*="icon-"],
	[class*="membersWrap_"] > [class*="members_"] [class*="member_"] > [class*="layout_"] > [class*="content_"] > [class*="subText_"] > [class*="activity_"] [class*="icon_"] {
		display: none;
	}


  /*************************/
 /*	FRIENDS LIST          */
/*************************/

	/* Convo search input */
	/* searchBar-6Kv8R2 da-searchBar */
	[class*="base-"] [class*="privateChannels-"] > [class*="searchBar-"] {
		height: var(--header-height);
	}
	
	/* "Direct Messages" label */
	/* privateChannelsHeaderContainer-3NB1K1 da-privateChannelsHeaderContainer container-2ax-kl da-container */
	[class*="base-"] [class*="privateChannels-"] [class*="privateChannelsHeaderContainer-"] {
		margin-top: 5px;
		padding: 5px 0 5px 10px;
		height: unset;
	}

	/* List item */
	/* channel-2QD9_O da-channel */
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"],
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] {
		height: 30px !important;
	}
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] {
		padding: 0 0 0 5px;
	}
	
	/* Friend avatar */
	/* avatar-3uk_u9 da-avatar wrapper-3t9DeA da-wrapper */
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="avatar-"] {
		margin-right: 0;
	}
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="avatar-"],
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] {
		width: 20px !important;
		height: 20px !important;
		margin-right: 5px;
	}
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] > svg {
		width: 20px !important;
		height: 20px !important;
	}
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] > svg > foreignObject {
		mask: none;
		width: 40px !important;
		height: 40px !important;
	}
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] > svg > rect {
		x: 30;
		y: 30;
	}
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="avatar-"] > [class*="wrapper-"] > svg > rect[mask*="mobile"] {
		y: 25;
	}
	
	/* Friend name */
	/* name-uJV0GL da-name */
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="content-"] > [class*="nameAndDecorators-"] > [class*="name-"] {
		font-size: 14px;
		line-height: 20px;
		padding-right: 0;
	}
	
	/* Friend subtext */
	/* subText-14b69p */
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="content-"] > [class*="subText-"] {
		font-size: 12px;
		line-height: 14px;
		padding-right: 0;
		margin-top: -5px;
		min-height: 5px;
	}

	/* Friend activity annoying icon */
	/* activityIcon-1mtTk4 da-activityIcon */
	[class*="base-"] [class*="privateChannels-"] [class*="channel-"] [class*="layout-"] > [class*="content-"] > [class*="subText-"] > [class*="activity-"] [class*="icon-"] {
		display: none;
	}
	
	/* Scroller - applies to server channel list as well */
	/* scroller-2FKFPG firefoxFixScrollFlex-cnI2ix da-scroller da-firefoxFixScrollFlex systemPad-3UxEGl da-systemPad */
	/* Check this: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
	/* width */
	[class*="scroller-"]:not([class*="thin-"]):not([class*="none-"])::-webkit-scrollbar {
	  /* Reminder */
	}

	/* Track */
	[class*="scroller-"]::-webkit-scrollbar-track {
	  border: 1px solid var(--deprecated-store-bg);
	  background-color: var(--background-primary);
	}

	/* Handle */
	[class*="scroller-"]:not([class*="thin-"]):not([class*="none-"])::-webkit-scrollbar-thumb {
	  /* Reminder */
	}

	/* Handle on hover */
	[class*="scroller-"]::-webkit-scrollbar-thumb:hover {
	  /* Reminder */
	}


  /*************************/
 /*	FRIENDS CHAT PAGE     */
/*************************/

	/* "New convo started" container */
	/* container-2OH5nX da-container */
	[class*="chat-"] [class*="chatContent-"] [class*="scrollerInner-"] > [class*="container-"] {
		margin: 10px;
	}

	/* Name */
	/* header-37a0R7 da-header */
	[class*="chat-"] [class*="chatContent-"] [class*="scrollerInner-"] > [class*="container-"] > [class*="header-"] {
	    font-size: 26px;
		margin: 5px 0;
		line-height: 26px;
		height: 26px;
	}

	/* "This is the beginning..." bs */
	/* description-2VxQ44 da-description */
	[class*="chat-"] [class*="chatContent-"] [class*="scrollerInner-"] > [class*="container-"] > [class*="description-"] {
	    font-size: 14px;
		line-height: 14px;
	}

	/* "This is the beginning..." button container */
	/* description-2VxQ44 da-description */
	[class*="chat-"] [class*="chatContent-"] [class*="scrollerInner-"] > [class*="container-"] > [class*="description-"] > [class*="container-"] {
	    margin-top: 5px;
	}

  /*************************/
 /*	FRIENDS PAGE          */
/*************************/

	/* Friends page header */
	/* container-1r6BKw da-container */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="container-"] {
		height: var(--header-height);
	}
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="container-"] > [class*="children-"] {
		height: var(--header-height);
	}

	/* "Add Friend" button */
	/* item-3HpYcP da-item item-PXvHYJ da-item themed-OHr7kt da-themed */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="container-"] [class*="tabBar-"] > [class*="item-"]:last-of-type {
		background-color: var(--discord-blue) !important;
	}

	/* "New Group" button divider */
	/* inviteToolbar-2k2nqz */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="container-"] [class*="toolbar-"] > [class*="inviteToolbar-"] > [class*="divider-"] {
		margin: 0 !important;
	}
	
	/* Search bar */
	/* searchBar-2aylmZ container-2oNtJn medium-2NClDM */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] [class*="searchBar-"] {
		margin: 10px;
	}
	
	/***** Friends table *****/
	/* peopleList-2VBrVI auto-2K3UW5 scrollerBase-_bVAAt*/
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] {
		margin-top: 0px;
		padding-bottom: 10px;
	}
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"]::-webkit-scrollbar-thumb,
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"]::-webkit-scrollbar-track {
		visibility: hidden;
	}
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"]:hover::-webkit-scrollbar-thumb,
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"]:hover::-webkit-scrollbar-track {
		visibility: visible;
	}
	
	/* Cancer "Online/Offline" Header */
	/* title-30qZAO da-title container-2ax-kl da-container */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="title-"] {
		height: unset;
		margin: 0px 10px 5px 10px;
	}
	
	/* Table row */
	/* peopleListItem-2nzedh da-peopleListItem */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="peopleListItem-"] {
		margin: 0 0 0 10px;
		padding: 5px;
		height: 40px !important;
	}
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="peopleListItem-"]:hover {
		margin: 0 0 0 10px;
		padding: 5px;
	}
	
	/* User pic + name container */
	/* userInfo-2zN2z8 da-userInfo */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="peopleListItem-"] [class*="userInfo-"] {
		align-items: center;
	}
	
	/* Friend avatar icon */
	/* avatar-3W3CeO da-avatar wrapper-3t9DeA da-wrapper */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="peopleListItem-"] [class*="userInfo-"] [class*="avatar-"] {
		height: 30px !important;
		width: 30px !important;
		margin-right: 5px;
	}
	
	/* Friend avatar icon foreignObject */
	/* avatar-3W3CeO da-avatar wrapper-3t9DeA da-wrapper */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="peopleListItem-"] [class*="userInfo-"] [class*="avatar-"] foreignObject {
		height: 30px !important;
		width: 30px !important;
		mask: none;
	}
	
	/* Friend avatar status icon */
	/* pointerEvents-9SZWKj */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="peopleListItem-"] [class*="userInfo-"] [class*="avatar-"] [class*="pointerEvents-"] {
		x: 20px !important;
		y: 20px !important;
	}
	
	/* Friend action buttons */
	/* actionButton-uPB8Fs da-actionButton */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="peopleColumn-"] [class*="peopleList-"] [class*="peopleListItem-"] [class*="actions-"] [class*="actionButton-"] {
		height: 30px !important;
		width: 30px !important;
		margin-left: 5px;
	}
	
	/* Active Now thingy container */
	/* nowPlayingColumn-2sl4cE da-nowPlayingColumn */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] {
		/*flex: none;*/
		/*min-width: 250px;*/
	}
	
	/* Now Playing Scroller */
	/* scroller-2FKFPG firefoxFixScrollFlex-cnI2ix da-scroller da-firefoxFixScrollFlex systemPad-3UxEGl da-systemPad nowPlayingScroller-2XrVUt da-nowPlayingScroller */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"] {
		padding: 8px 0 8px 8px;
		margin: 0;
	}
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"]::-webkit-scrollbar-thumb,
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"]::-webkit-scrollbar-track {
		visibility: hidden;
	}
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"]:hover::-webkit-scrollbar-thumb,
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"]:hover::-webkit-scrollbar-track {
		visibility: visible;
	}
	
	/* Now Playing header */
	/* header-Imy05m base-21yXnu size20-9iTTnl */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"] > [class*="header-"] {
		margin: 0 0 8px 0;
	}
	
	/* Now Playing card */
	/* itemCard-v9viV7 da-itemCard wrapper-3D2qGf da-wrapper outer-1AjyKL da-outer padded-302COx da-padded */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"] > [class*="itemCard-"] {
		padding: 8px;
	}
	
	/* Now Playing card header */
	/* headerFull-34WFWN header-3jUeHi */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"] > [class*="itemCard-"] [class*="header-"] {
		grid-gap: 8px;
	}
	
	/* Now Playing card body */
	/* body-16rSsp inset-SbsSFp */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"] > [class*="itemCard-"] [class*="body-"] {
		margin-top: 8px;
	}
	
	/* Now Playing card body section */
	/* section-3G9aLW */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"] > [class*="itemCard-"] [class*="body-"] > [class*="section-"] {
		padding: 8px;
	}
	
	/* Now Playing card body section content */
	/* activitySection-20iylG */
	[class*="base-"] > [class*="content-"] > [class*="container-"] > [class*="tabBody-"] > [class*="nowPlayingColumn-"] [class*="scroller-"] > [class*="itemCard-"] [class*="body-"] > [class*="section-"] > [class*="activitySection-"] {
		grid-gap: 8px;
	}
	

  /*************************/
 /*	PROFILE POPUP         */
/*************************/

	/* Header Banner */
	/* banner-1YaD3N popoutBanner-3cqRD9 */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="headerNormal-"] > [class*="popoutBanner-"] {
		
	}

	/* Header Premium Banner */
	/* banner-1YaD3N popoutBannerPremium-3i5EEI bannerPremium-kkSkPv */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="headerNormal-"] > [class*="bannerPremium-"] {
		margin-bottom: -40px;
	}

	/* Popout Avatar wrapper */
	/* avatarWrapperNormal-ahVUaC avatarWrapper-eenWra avatarPositionNormal-2jWoC2 clickable-GKg4Qy */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="avatarWrapper-"] {
		top: 10px;
		left: 10px;
		border: 1px solid var(--background-secondary);
		border-radius: 5px;
	}

	/* Popout Avatar */
	/* avatar-2Vndt_ wrapper-1VLyxH */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="avatarWrapper-"] > [class*="avatar-"] {
		border-width: 5px;
	}

	/* Popout Avatar foreignObject */
	/* avatar-2Vndt_ wrapper-1VLyxH */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="avatarWrapper-"] > [class*="avatar-"] foreignObject {
		mask: none;
	}

	/* Popout Avatar status icon */
	/* pointerEvents-9SZWKj */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="avatarWrapper-"] > [class*="avatar-"] [class*="pointerEvents-"] {
		/*x: 62;
		y: 62;*/
	}

	/* Header name container */
	/* headerTop-3C2Zn0 da-headerTop */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="headerTop-"] {
		padding: 45px 10px 0px;
	}

	/* Popout body container */
	/* body-2wLx-E thin-31rlnD scrollerBase-_bVAAt */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] {
		padding: 0 10px;
	}

	/* Popout body divider */
	/* divider-1wtgZ3 */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="divider-"] {
		margin: 5px 0px !important;
	}

	/* Popout "about me" section */
	/* userInfoSection-3her-v */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="userInfoSection-"] {
		margin-bottom: 10px;
	}

	/* Popout "about me" title */
	/* userInfoSection-3her-v base-21yXnu size12-oc4dx4 muted-eZM05q uppercase-2unHJn */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="userInfoSection-"] > [class*="userInfoTitle-"] {
		margin-bottom: 0px;
	}

	/* Popout "playing" section */
	/* activityUserPopout-2MzGCj activity-1gTu-L newPopoutActivityStyles */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="bodyInnerWrapper-"] > [class*="activityUserPopout-"] {
		padding-bottom: 10px;
	}

	/* Popout "playing" title */
	/* headerContainer-1wJjOa flex-3BkGQD marginBottom8-emkd0_ */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="bodyInnerWrapper-"] > [class*="activityUserPopout-"] > [class*="headerContainer-"] {
		margin-bottom: 5px;
	}

	/* Popout "note" section */
	/* bodyInnerWrapper-2bQs1k */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="bodyInnerWrapper-"] {
		
	}

	/* Popout "note" title */
	/* bodyTitle-2Az3VQ base-21yXnu size12-oc4dx4 muted-eZM05q uppercase-2unHJn */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="bodyInnerWrapper-"] > [class*="bodyTitle-"] {
		margin-bottom: 0px;
	}

	/* Popout roles list */
	/* root-jbEB5E flex-3BkGQD wrap-7NZuTn rolesList-3uZoaa */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="bodyInnerWrapper-"] > [class*="rolesList-"] {
		margin-bottom: 5px;
	}

	/* ClickForMoreActions and "Message @xxxx" footer */
	/* footer-1fjuF6 da-footer */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="footer-"] {
		padding: 5px 10px 10px;
	}

	/* Custom status */
	/* customStatus-1bh2V9 da-customStatus */
	[class*="layerContainer-"] > [class*="layer-"] [class*="userPopout-"] > [class*="body-"] > [class*="customStatus-"] {
		margin-bottom: 5px;
	}


  /*************************/
 /*	PROFILE SCREEN        */
/*************************/

	/* Profile Avatar */
	/* avatar-2Vndt_ wrapper-1VLyxH */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="header-"] > [class*="avatar-"] {
		border: 1px solid var(--background-secondary);
		left: 10px;
	}

	/* Profile Avatar foreignObject */
	/* avatar-2Vndt_ wrapper-1VLyxH */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="header-"] > [class*="avatar-"] foreignObject {
		mask: none;
	}

	/* Profile name container */
	/* nameTagWithCustomStatus-5c-v3- nameTag-2Nlmsy nameTag-H6kSJ0 */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="nameTag-"] {
		margin: 60px 10px 10px;
	}

	/* Profile custom status */
	/* customStatusActivity-WKWGD- */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="customStatusActivity-"] {
		padding: 0 10px 10px;
	}

	/* Profile tab container */
	/* tabBarContainer-sCZC4w */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="tabBarContainer-"] {
		padding: 0 10px;
	}

	/* Profile tab */
	/* tabBar-2hXqzU top-K_jibn */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="tabBarContainer-"] > [class*="tabBar-"] {
		height: 30px;
	}

	/* Profile body */
	/* body-1Ukv50 */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] {
		
	}

	/* Profile info container */
	/* infoScroller-1QMpon thin-31rlnD scrollerBase-_bVAAt fade-1R6FHN */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="infoScroller-"] {
		padding: 0 10px 10px !important;
	}

	/* Profile info section */
	/* userInfoSection-2u2hir */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="infoScroller-"] > [class*="userInfoSection-"] {
		padding: 10px 0 0;
	}

	/* Profile info section header */
	/* userInfoSectionHeader-2mYYun base-21yXnu size12-oc4dx4 uppercase-2unHJn */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="infoScroller-"] > [class*="userInfoSection-"] > [class*="userInfoSectionHeader-"] {
		margin-bottom: 0;
	}

	/* Profile user bio */
	/* userBio-2-tr00 markup-eYLPri clamped-2ZePhX */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="infoScroller-"] > [class*="userInfoSection-"] > [class*="userBio-"] {
		margin-bottom: 10px;
	}

	/* Profile connected accounts */
	/* connectedAccounts-1YaT2t */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="infoScroller-"] > [class*="userInfoSection-"] > [class*="connectedAccounts-"] {
		margin-top: -10px;
	}

	/* Profile connected account */
	/* connectedAccount-1xKpli */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="infoScroller-"] > [class*="userInfoSection-"] > [class*="connectedAccounts-"] > [class*="connectedAccount-"] {
		margin-top: 10px;
		padding: 5px;
		width: calc(100%/2 - 16px); /* May cause issues, remove if that's the case */
		/* -16px because of the 4px from the borders */
	}
	
	/* Badges & buttons container */
	/* headerTop-1PNKck */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="header-"] > [class*="headerTop-"] {
		top: 10px;
		left: 140px;
		right: 10px;
	}
	
	/* Add friend button */
	/* actionButton-3W1xZa da-actionButton button-38aScr da-button lookFilled-1Gx00P colorGreen-29iAKY sizeSmall-2cSMqn grow-q77ONN da-grow */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="topSection-"] [class*="header-"] > [class*="headerTop-"] > [class*="relationshipButtons-"] > [class*="actionButton-"] {
		background-color: var(--discord-blue) !important;
		color: var(--jct-white) !important;
	}

	/* Profile mutual friends item */
	/* listRow-2nO1T6 */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="listScroller-"] > [class*="listRow-"] {
		
	}

	/* Profile mutual friends item avatar */
	/* listAvatar-2bU5Uh wrapper-1VLyxH */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="listScroller-"] > [class*="listRow-"] [class*="listAvatar-"] {
		border-radius: 5px;
	}
	[class*="layerContainer-"] > [class*="layer-"] > [class*="focusLock-"] [class*="body-"] > [class*="listScroller-"] > [class*="listRow-"] [class*="listAvatar-"] foreignObject {
		mask: none;
	}


  /*************************/
 /*	MESSAGE SEARCH        */
/*************************/

	/* Search Header */
	/* searchHeader-2XoQg7 da-searchHeader */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="searchHeader-"] {
		padding: 0 10px;
		height: 45px;
	}

	/* Search Header inner elements */
	/* .searchHeader-2XoQg7.da-searchHeader > div */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] {
		padding: 10px !important;
	}

	/* Channel Separator (result group) */
	/* searchResultGroup-1lU_-i */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] {
		margin-bottom: 10px;
	}

	/* Search channel name */
	/* channelName-wvgELL da-channelName */
	/* changed to: channelName-1JRO3C da-channelName */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > :not([class*="container-"]) {
		padding: 0;
	}

	/* Search result line */
	/* searchResult-9tQ1uo da-searchResult */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="searchResult-"] {
		margin-bottom: 1px;
		border-radius: 0;
	}
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"]:first-of-type > [class*="searchResult-"] {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"]:last-of-type > [class*="searchResult-"] {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	/* Search result message */
	/* message-24k8JL */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="searchResult-"] > [class*="message-"] {
		padding: 10px;
	}

	/* Search result wrapper */
	/* wrapper-30-Nkg cozy-VmLDNB zalgo-26OfGz */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="searchResult-"] > [class*="message-"] > [class*="wrapper-"] {
		padding: 0 0 0 50px;
	}
	
	/* Search result avatar */
	/* avatar-1BDn8e da-avatar */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="searchResult-"] > [class*="message-"] [class*="contents-"] > img {
		top: 0;
		left: 0;
		margin: 0;
	}

	/* Search result attached image/video */
	/* messageAttachment-CZp8Iv */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="searchResult-"] > [class*="message-"] [class*="messageAttachment-"] [class*="imageWrapper-"] {
		max-width: -webkit-fill-available;
	}
	
	/* Search result replied message */
	/* repliedMessage-3Z6XBG */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="searchResult-"] > [class*="message-"] > [class*="wrapper-"] > [class*="repliedMessage-"] {
		background-color: var(--background-secondary);
		padding: 1px;
		margin-bottom: 0px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="searchResult-"] > [class*="message-"] > [class*="wrapper-"] > [class*="repliedMessage-"]:before {
		top: 1px;
		left: -2px;
		height: 100%;
		border-radius: 0;
	}
	
	/* "Jump" button */
	/* jumpButton-JkYoYK da-jumpButton */
	[class*="chat-"] [class*="searchResultsWrap-"] > [class*="scroller-"] [class*="searchResultGroup-"] > [class*="container-"] > [class*="buttonsContainer-"] {
		top: 5px;
		right: 5px;
	}


  /*************************/
 /*	PINNED MESSAGES       */
/*************************/

	/* Pinned messages header */
	/* header-ykumBX da-header header-2Kf7Yu da-header */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="header-"] {
		padding: 10px;
	}
	
	/* Message list */
	/* messagesPopout-eVzQcI thin-31rlnD scrollerBase-_bVAAt */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="messagesPopout-"] {
		padding: 10px !important;
	}
	
	/* Message container wrapper */
	/* messageGroupWrapper-o-Zw7G da-messageGroupWrapper */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="messagesPopout-"] [class*="messageGroupWrapper-"] {
		margin-bottom: 10px;
		padding: 10px;
	}
	
	/* Message container */
	/* messageGroupCozy-2iY6cT da-messageGroupCozy wrapper-2a6GCs da-wrapper cozy-3raOZG da-cozy zalgo-jN1Ica da-zalgo */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="messagesPopout-"] [class*="messageGroupWrapper-"] > [class*="wrapper-"] {
		padding: 0 0 0 50px;
		margin: 0 !important;
	}
	
	/* Message result avatar */
	/* avatar-1BDn8e da-avatar */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="messagesPopout-"] [class*="messageGroupWrapper-"] > [class*="wrapper-"] [class*="contents-"] > img {
		top: 0;
		left: 0;
		margin: 0 !important;
	}
	
	/* Message result replied message */
	/* repliedMessage-3Z6XBG */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="messagesPopout-"] [class*="messageGroupWrapper-"] > [class*="wrapper-"] > [class*="repliedMessage-"] {
		background-color: var(--background-secondary);
		padding: 1px;
		margin-bottom: 0px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="messagesPopout-"] [class*="messageGroupWrapper-"] > [class*="wrapper-"] > [class*="repliedMessage-"]:before {
		top: 1px;
		left: -2px;
		height: 100%;
		border-radius: 0;
	}
	
	/* Action buttons */
	/* actionButtons-1sUUug da-actionButtons */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"] > [class*="messagesPopout-"] [class*="messageGroupWrapper-"] > [class*="actionButtons-"] {
		top: 5px;
		right: 5px;
	}


  /*************************/
 /*	MENTIONS              */
/*************************/

	/* Mentions header */
	/* header-2-Imhb da-header header-ykumBX da-header */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="header-"] {
		min-height: var(--header-height);
		height: var(--header-height);
		padding: 5px;
	}

	/* Mentions header item */
	/* tab-ck0077 da-tab item-PXvHYJ da-item themed-OHr7kt da-themed */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="header-"] > [class*="tabBar-"] > [class*="tab-"] {
		margin: auto 10px auto 0;
		height: 25px;
	}

	/* Mentions filter button */
	/* button-1-5Aqk da-button secondary-dIudih */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="header-"] [class*="button-"] {
		border-radius: 30px;
		height: 30px;
		min-height: 30px;
		width: 30px;
		min-width: 30px;
		padding: 7px;
	}

	/* Mentions container */
	/* scroller-tlc3kG da-scroller thin-1ybCId scrollerBase-289Jih */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] {
		padding: 10px; /* Being overriden somewhere, it's ok, but redundant */
	}

	/* Mentions bullshit tutorial message */
	/* tutorial-3w5I9h da-tutorial */
	[class*="layerContainer-"] > [class*="layer-"] [class*="recentMentionsPopout-"] [class*="tutorial-"] {
		display: none;
	}
	
	/* Mentions messages container */
	/* messages-3G3erD da-messages */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] {
		padding: 0;
		margin-bottom: 0;
	}

	/* Mentions channel header */
	/* channelHeader-3Gd2xq da-channelHeader */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="channelHeader-"] {
		height: 50px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 10px;
	}

	/* Mentions channel icon */
	/* icon-3o6xvg da-icon guildIcon-3Co6k- da-guildIcon iconSizeMedium-2OqPjI da-iconSizeMedium iconActiveMedium-1UaEIR da-iconActiveMedium */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="channelHeader-"] > [class*="icon-"],
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="channelHeader-"] [class*="dmIcon-"] {
		height: 30px;
		width: 30px;
		margin-right: 10px;
		border-radius: 4px;
	}
	
	/* Mentions messages divider */
	/* Note: RIP (?) */
	/* divider-39oAwV da-divider divider-JfaTT5 da-divider hasContent-1cNJDh da-hasContent */
	.divider-39oAwV.da-divider.divider-JfaTT5.da-divider {
		margin: 10px;
	}
	
	/* Mentions message container */
	/* messageContainer-3VTXBC */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="messageContainer-"] {
		padding: 10px;
	}
	
	/* Mentions message */
	/* messageGroupCozy-2iY6cT da-messageGroupCozy wrapper-2a6GCs da-wrapper cozy-3raOZG da-cozy zalgo-jN1Ica da-zalgo */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="messageContainer-"] > [class*="message-"] {
		padding: 0 0 0 50px;
		margin: 0 !important;
	}
	
	/* Mentions result avatar */
	/* avatar-1BDn8e da-avatar */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="messageContainer-"] > [class*="message-"] [class*="contents-"] > img {
		top: 0;
		left: 0;
		margin: 0 !important;
	}
	
	/* Mentions result replied message */
	/* repliedMessage-3Z6XBG */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="messageContainer-"] > [class*="message-"] > [class*="repliedMessage-"] {
		background-color: var(--background-secondary);
		padding: 1px;
		margin-bottom: 0px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="messageContainer-"] > [class*="message-"] > [class*="repliedMessage-"]:before {
		top: 1px;
		left: -2px;
		height: 100%;
		border-radius: 0;
	}
	
	/* Mentions jump button */
	/* jumpButton-2dvRSC da-jumpButton jumpButton-3vBz5U da-jumpButton */
	[class*="layerContainer-"] > [class*="layer-"] [class*="messagesPopoutWrap-"][class*="recentMentionsPopout-"] > [class*="messagesPopout-"] [class*="container-"] > [class*="messageContainer-"] > [class*="jumpButton-"] {
		top: 5px;
		right: 5px;
	}


  /*************************/
 /*	UNREAD                */
/*************************/

	/* Unread header */
	/* header-2-Imhb da-header header-ykumBX da-header */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="header-"] {
		min-height: var(--header-height);
		height: var(--header-height);
		padding: 5px;
	}

	/* Unread header item */
	/* tab-ck0077 da-tab item-PXvHYJ da-item themed-OHr7kt da-themed */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="header-"] > [class*="tabBar-"] > [class*="tab-"] {
		margin: auto 10px auto 0;
		height: 25px;
	}

	/* Unread mark as read button */
	/* button-1-5Aqk da-button secondary-dIudih */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="header-"] [class*="button-"] {
		border-radius: 30px;
		height: 30px;
		min-height: 30px;
		width: 30px;
		min-width: 30px;
		padding: 7px;
	}

	/* Unread container */
	/* scroller-tlc3kG da-scroller thin-1ybCId scrollerBase-289Jih */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] {
		padding: 10px;
	}
	
	/* Unread channel container */
	/* channel-3NJZ1V */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] {
		padding: 0;
		margin-bottom: 0;
	}

	/* Unread channel header */
	/* channelHeader-3Gd2xq da-channelHeader */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="channelHeader-"] {
		height: 50px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 15px;
	}

	/* Unread channel icon */
	/* icon-3o6xvg da-icon guildIcon-3Co6k- da-guildIcon iconSizeMedium-2OqPjI da-iconSizeMedium iconActiveMedium-1UaEIR da-iconActiveMedium */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="channelHeader-"] > [class*="icon-"],
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="channelHeader-"] [class*="dmIcon-"] {
		height: 30px;
		width: 30px;
		margin-right: 10px;
		border-radius: 4px;
	}
	
	/* Unread messages container */
	/* messages-23can0 */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="messages-"] {
		padding: 10px;
	}
	
	/* Unread message container */
	/* messageContainer-3VTXBC */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="messages-"] > [class*="messageContainer-"] {
		padding: 0;
	}
	
	/* Unread message */
	/* messageGroupCozy-2iY6cT da-messageGroupCozy wrapper-2a6GCs da-wrapper cozy-3raOZG da-cozy zalgo-jN1Ica da-zalgo */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="messages-"] > [class*="messageContainer-"] > [class*="message-"] {
		padding: 0 0 0 50px;
		margin: 0 !important;
	}
	
	/* Unread result avatar */
	/* avatar-1BDn8e da-avatar */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="messages-"] > [class*="messageContainer-"] > [class*="message-"] [class*="contents-"] > img {
		top: 0;
		left: 0;
		margin: 0 !important;
	}
	
	/* Unread result replied message */
	/* repliedMessage-3Z6XBG */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="messages-"] > [class*="messageContainer-"] > [class*="message-"] > [class*="repliedMessage-"] {
		background-color: var(--background-secondary);
		padding: 1px;
		margin-bottom: 0px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="messages-"] > [class*="messageContainer-"] > [class*="message-"] > [class*="repliedMessage-"]:before {
		top: 1px;
		left: -2px;
		height: 100%;
		border-radius: 0;
	}
	
	/* Unread jump button */
	/* jumpButton-2dvRSC da-jumpButton jumpButton-3vBz5U da-jumpButton */
	[class*="layerContainer-"] > [class*="layer-"] [class*="container-"][class*="recentMentionsPopout-"] > [class*="scroller-"] [class*="channel-"] > [class*="messages-"] > [class*="messageContainer-"] > [class*="jumpButton-"] {
		top: 5px;
		right: 5px;
	}


  /*************************/
 /*	CONTEXT MENU          */
/*************************/

	/* Context Menu wrapper */
	/* scroller-1bVxF5 thin-31rlnD scrollerBase-_bVAAt */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] {
		overflow: hidden !important;
		padding: 0;
	}

	/* Context Menu item */
	/* item-1tOPte da-item labelContainer-1BLJti da-labelContainer colorDefault-2K3EoJ da-colorDefault */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] [class*="item-"] {
		min-height: 28px;
		padding: 5px;
	}
	
	/* Quick Reaction section */
	/* wrapper-3_530D da-wrapper */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] > [class*="wrapper-"] {
		padding: 5px;
	}
	
	/* Quick Reaction button */
	/* customItem-2CxBSo > button-1zW0-r */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] > [class*="wrapper-"] > [class*="customItem-"] > [class*="button-"] {
		border-radius: 5px;
		padding: 0;
	}
	
	/* Section Separator */
	/* separator-2I32lJ da-separator */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] > [class*="separator-"] {
		margin: 0;
	}

	/* Context submenu padding */
	/* scroller-1bVxF5 thin-31rlnD scrollerBase-_bVAAt */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] [class*="submenuContainer-"] [class*="submenuPaddingContainer-"] {
		padding: 0;
		margin-left: -5px;
	}

	/* Context submenu wrapper */
	/* scroller-1bVxF5 thin-31rlnD scrollerBase-_bVAAt */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] [class*="submenuContainer-"] [class*="scroller-"] {
		overflow: hidden !important;
		padding: 0;
	}

	/* Context submenu item */
	/* item-1tOPte da-item labelContainer-1BLJti da-labelContainer colorDefault-2K3EoJ da-colorDefault */
	[class*="layerContainer-"] > [class*="layer-"] > [class*="menu-"] > [class*="scroller-"] [class*="submenuContainer-"] [class*="scroller-"] [class*="item-"] {
		min-height: 28px;
		padding: 5px;
	}


  /*************************/
 /*	CALL CONTROLS         */
/*************************/

	/* Call controls container above user menu */
	/* wrapper-3Hk9OB > container-1zzFcN */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="wrapper-"] > [class*="container-"] {
		padding: 5px;
	}

	/* Call controls video & screen shareing buttons */
	/* actionButtons-2vEOUh */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="wrapper-"] > [class*="container-"] [class*="actionButtons-"] > [class*="button-"] {
		padding: 5px;
	}


  /*************************/
 /*	USER MENU             */
/*************************/

	/* Activity Panel above this menu */
	/* panel-24C3ux da-panel activityPanel-28dQGo da-activityPanel */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="activityPanel-"],
	[class*="base_"] > [class*="content_"] > [class*="sidebar_"] > [class*="panels_"] > [class*="activityPanel_"] {
		padding: 5px;
	}

	/* Container */
	/* container-3baos1 da-container */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="container-"],
	[class*="base_"] > [class*="content_"] > [class*="sidebar_"] > [class*="panels_"] > [class*="container_"] {
		height: 40px;
		margin-bottom: 0;
		padding: 0 5px;
	}
	
	/* Avatar wrapper */
	/* avatarWrapper-1B9FTW */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="container-"] > [class*="avatarWrapper-"],
	[class*="base_"] > [class*="content_"] > [class*="sidebar_"] > [class*="panels_"] > [class*="container_"] > [class*="avatarWrapper_"] {
		margin-right: 5px;
		min-width: 75px;
	}
	
	/* Avatar Speaking */
	/* avatarSpeaking-33RRJU */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="container-"] > [class*="avatarWrapper-"] [class*="avatarSpeaking-"],
	[class*="base_"] > [class*="content_"] > [class*="sidebar_"] > [class*="panels_"] > [class*="container_"] > [class*="avatarWrapper_"] [class*="avatarSpeaking_"] {
		border-radius: 5px;
	}
	
	/* Name */
	/* nameTag-sc-gpq canCopy-IgTwyV */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="container-"] [class*="nameTag-"] [class*="title-"],
	[class*="base_"] > [class*="content_"] > [class*="sidebar_"] > [class*="panels_"] > [class*="container_"] [class*="nameTag_"] [class*="title_"] {
		font-size: 12px;
		line-height: 16px;
	}
	
	/* Subtext */
	/* size12-oc4dx4 subtext-2HDqJ7 */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="container-"] [class*="nameTag-"] [class*="subtext-"],
	[class*="base_"] > [class*="content_"] > [class*="sidebar_"] > [class*="panels_"] > [class*="container_"] [class*="nameTag_"] [class*="subtext_"] {
		font-size: 10px;
		line-height: 14px;
	}
	
	/* Status message */
	/* Note: This should no longer apply */
	/* hoverRoll-YK53gQ da-hoverRoll */
	.hoverRoll-YK53gQ.da-hoverRoll {
		font-size: 10px;
	}
	
	/* Buttons */
	/* button-12Fmur enabled-9OeuTA button-f2h6uQ lookBlank-21BCro colorBrand-I6CyqQ grow-2sR_-F */
	[class*="base-"] > [class*="content-"] > [class*="sidebar-"] > [class*="panels-"] > [class*="container-"] [class*="button-"],
	[class*="base_"] > [class*="content_"] > [class*="sidebar_"] > [class*="panels_"] > [class*="container_"] [class*="button_"] {
		width: 24px;
		height: 24px;
	}


  /*************************/
 /*	CALL SCREEN           */
/*************************/

	/* NOTE: Entire section not tested */

	/* Call header wrapper */
	/* wrapper-2qzCYF da-wrapper minimum-28Z35l */
	.wrapper-2qzCYF.da-wrapper {
		height: 180px;
	}

	/* Call participants wrapper */
	/* root-3yg4nC da-root voiceCallWrapper-3kPwHm da-voiceCallWrapper */
	.voiceCallWrapper-3kPwHm.da-voiceCallWrapper {
		padding: 0;
	}

	/* Call participant */
	/* transition-J10on7 da-transition participant-1lOCsd da-participant */
	.participant-1lOCsd.da-participant {
		height: var(--call-portrait-size) !important;
		width: var(--call-portrait-size) !important;
		margin: 0 5px;
	}

	/* Participant avatar wrapper */
	/* wrapper-2QE8vf da-wrapper clickable-1rK_Yk da-clickable */
	.wrapper-2QE8vf.da-wrapper {
		height: var(--call-portrait-size) !important;
		width: var(--call-portrait-size) !important;
	}

	/* Participant avatar */
	/* callAvatarMask-1SLlRi da-callAvatarMask */
	.callAvatarMask-1SLlRi.da-callAvatarMask {
		height: var(--call-portrait-size) !important;
		width: var(--call-portrait-size) !important;
	}

	/* Remove circular mask from avatars */
	.callAvatarMask-1SLlRi.da-callAvatarMask foreignObject {
		mask: none !important;
	}
	/* Make avatars' corners rounded */
	/* voiceAvatar-14IynY da-voiceAvatar */
	.voiceAvatar-14IynY.da-voiceAvatar {
		border-radius: 5px;
	}

	/* Call controls */
	/* videoControls-24w7Xp da-videoControls */
	.videoControls-24w7Xp.da-videoControls {
		padding: 0 10px 10px;
	}

	/* Control button */
	/* controlButton-2MhVEL da-controlButton contextMenuContainer-2HlOMK da-contextMenuContainer */
	.controlButton-2MhVEL.da-controlButton {
		height: var(--call-button-size);
		width: var(--call-button-size);
		margin: 0 5px;
		padding: 0;
	}

	/* Control button icon */
	/* controlIcon-35oS15 da-controlIcon centerIcon-2G6o-T da-centerIcon */
	.controlIcon-35oS15.da-controlIcon {
		height: calc(var(--call-button-size)/2);
		width: calc(var(--call-button-size)/2);
	}


  /*************************/
 /*	GLOBAL CHANGES        */
/*************************/

	/* Remove circular mask from avatars */
	/* As bad as the devs are, they made the very good choice to start using "border-radius: 50%" instead of masks to make things round, so this "should" not be needed anymore. Keeping this in, just in case... */
	[class*="avatar-"] foreignObject,  /* Should hopefully select only people's avatars */
	[class*="avatar_"] foreignObject { /* Should hopefully select only people's avatars */
		mask: none !important;
	}
	/* Make avatars' corners rounded */
	/* NOTE: Discord doesn't have foreignObjects for this anymore, keeping for memory */
	foreignObject img {
		border-radius: 5px;
	}
	/* Make avatars' corners rounded */
	[class*="avatar-"],
	[class*="avatar_"] {
		border-radius: 5px;
	}
	/* Make avatars' fluffy shit smaller and better positioned */
	[class*="avatarDecoration-"],
	[class*="avatarDecoration_"] {
		left: 5px;
		top: 2.5px;
		height: 40px !important;
		width: 40px !important;
	}

	/* Make images/videos have no border radius */
	/* Here it is, something was weird when Discrap's devs started "fixing" things */
	/* Now images and videos have a dozen wrappers, all applying some form of border-radius. This is stupid */
	[class*="embedImage-"],
	[class*="embedThumbnail-"],
	[class*="embedVideo-"],
	[class*="embedImage-"] img,
	[class*="embedThumbnail-"] img,
	[class*="embedVideo-"] img,
	[class*="embedImage-"] video,
	[class*="embedThumbnail-"] video,
	[class*="embedVideo-"] video,
	[class*="oneByOneGridSingle-"],
	[class*="messageAttachmentMediaMosaic-"],
	[class*="mediaAttachmentsContainer-"],
	[class*="video-"],
	[class*="visualMediaItemContainer-"],
	[class*="wrapperMediaMosaic-"],
	[class*="mosaicItemMediaMosaic-"],
	[class*="imageWrapper-"],
	[class*="embedImage_"],
	[class*="embedThumbnail_"],
	[class*="embedVideo_"],
	[class*="embedImage_"] img,
	[class*="embedThumbnail_"] img,
	[class*="embedVideo_"] img,
	[class*="embedImage_"] video,
	[class*="embedThumbnail_"] video,
	[class*="embedVideo_"] video,
	[class*="oneByOneGridSingle_"],
	[class*="messageAttachmentMediaMosaic_"],
	[class*="mediaAttachmentsContainer_"],
	[class*="video_"],
	[class*="visualMediaItemContainer_"],
	[class*="wrapperMediaMosaic_"],
	[class*="mosaicItemMediaMosaic_"],
	[class*="imageWrapper_"] {
		border-radius: 0;
	}


  /*************************/
 /*	MISC CHANGES          */
/*************************/

	/* To remove that pesky Nitro button */
	/* Note: this class now applies to all buttons on the list... rip */
	.button-3AYNKb {
		display: none;
	}
	
	/* Typing */
	[class*="typing"] {
		height: 20px;
		left: 0;
		right: 0;
	}

	/* People are typing "spinner" */
	/* spinner-2enMB9 da-spinner ellipsis-19qdx6 da-ellipsis */
	[class*="spinner"] {
		margin-top: 0;
	}

	/* Progess bar */
	/* Note: untested */
	[class*="progressContainer-"],
	[class*="progressContainer_"] {
		margin-top: 10px;
	}

	[class*="progress-"],
	[class*="progressBar-"],
	[class*="progress_"],
	[class*="progressBar_"] {
		width: 400px !important;
		height: 15px !important;
	}
	
	/* "NEW" Badge */
	[class*="unreadMentionsBar-"],
	[class*="unreadMentionsIndicatorBottom-"],
	[class*="unreadMentionsBar_"],
	[class*="unreadMentionsIndicatorBottom_"] {
		display: none !important;
	}
	
	/* "Follow" thing on the "Rings of Saturn" server (usually server announcement channels) */
	[class*="chatContent-"] form > [class*="wrapper-"],
	[class*="chatContent_"] form > [class*="wrapper_"] {
		width: unset;
		height: unset;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
	}
	
	/* "public" icon on top of the server list */
	[class*="communityInfoPill-"],
	[class*="communityInfoPill_"] {
		display: none;
	}
	
	/* fuck this shit, two can play this game */
	/* backgroundFlash-1X5jVs groupStart-3Mlgv1 */
	[class*="groupStart-"],
	[class*="groupStart_"] {
		margin-top: 0;
	}
	
	/* fuck this shit, two can play this game */
	/* premiumFeatureBorder-1i95si featureBorder-2Jl8g4 featureBorder-39brDJ */
	[class*="premiumFeatureBorder-"],
	[class*="premiumFeatureBorder_"] {
		background: url(https://i.imgflip.com/7nrea.jpg);
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
		background-size: contain;
	}
	[class*="premiumFeatureBorder-"] [class*="background-"],
	[class*="premiumFeatureBorder_"] [class*="background_"] {
		visibility: hidden;
	}
